.button {
  font-family: inherit;
  font-style: normal;
  display: block;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  padding: 0;
  margin: 0;
  background-color: $apple;
  color: $white;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 0;

  &:hover {
    background-color: #5EAA2F;
  }

  &:active {
    background-color: #5EAA2F;
    color: rgba(255, 255, 255, 0.3);
  }

}
