.example {
  background-color: $gallery;

  @media (min-width: 768px) {
    background-color: unset;
    background-image: linear-gradient(to bottom, $white 57.3%, $gallery 57.3%);
  }

  @media (min-width: 1440px) {
    display: flex;
    background-image: linear-gradient(to bottom, $white 28%, $concrete 28%);
  }
}

.example__container {
  padding: 25px 20px 45px 20px;

  @media (min-width: 768px) {
    padding: 43px 30px 60px 30px;
  }

  @media (min-width: 1440px) {
    padding: 0 110px 71px 110px;
  }
}

.example__title-wrapper {
  @media (min-width: 768px) {
    margin-bottom: 84px;
  }

  @media (min-width: 1440px) {
    width: 36%;
    margin-bottom: 0;
    margin-right: auto;
    padding-top: 43px;
    flex-shrink: 0;
  }
}

.example__title {
  margin-top: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 146px;
  }
}

.example__description {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $tundora;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    padding-right: 20px;
    margin-bottom: 55px;
  }

  @media (min-width: 1440px) {
    padding-right: 0;
    margin-bottom: 69px;
  }
}

.example__stats-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  justify-content: center;
  column-gap: 32px;
  row-gap: 31px;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: unset;
    row-gap: unset;
    margin-bottom: 0;
  }

  @media (min-width: 1440px) {
    justify-content: flex-start;
    row-gap: unset;
    column-gap: unset;
  }
}

.example__stats {
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid $silver;
  border-radius: 5px;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: 1440px) {
    margin-right: 42px;
    margin-bottom: 20px;
  }
}

.example__stats::after {
  position: absolute;
  font-family: "Arial", sans-serif;
  text-align: center;
  background-color: $gallery;
  font-size: 12px;
  width: 77px;
  line-height: 12px;
  color: $tundora;

  @media (min-width: 768px) {
    background-color: $white;
    font-size: 14px;
    line-height: 14px;
    width: 97px;
  }

  @media (min-width: 1440px) {
    background-color: $concrete;
  }
}

.example__stats--weight {
  padding: 15px 42px 17.5px 42.5px;
  max-width: 31%;

  @media (min-width: 768px) {
    padding: 15px 56px 20px 57px;
    margin-right: 41px;
  }
}

.example__stats--weight::after {
  content: "снижение веса";
  bottom: -12px;
  left: 21px;

  @media (min-width: 768px) {
    left: 23px;
    bottom: -4px;
    padding: 0 8px;
  }
}

.example__stats--days {
  padding: 15px 21px 17.5px 18.5px;
  max-width: 70%;
  text-transform: uppercase;

  @media (min-width: 768px) {
    padding: 15px 28px 20px 30px;
  }
}

.example__stats--days::after {
  content: "затрачено времени";
  bottom: -12px;
  left: 21px;
  text-transform: lowercase;

  @media (min-width: 768px) {
    left: 8px;
    bottom: -5px;
    width: 127px;
    padding: 0 8px;
  }
}

.example__expenses {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  grid-column: 1/3;

  @media (min-width: 768px) {
    margin-left: auto;
    text-align: right;
    font-size: 20px;
    width: 25%;
    margin-bottom: 8px;
  }

  @media (min-width: 1440px) {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.example__text {
  @media (min-width: 1440px) {
    margin-right: 63px;
  }
}

.example__money {
  @media (min-width: 768px) {
    display: block;
    margin-top: 8px;
  }

  @media (min-width: 1440px) {
    margin-top: 0;
  }
}

.example__image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.example__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  @media (min-width: 768px) {
    margin-top: 27px;
  }
}

.example__results {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $silver;

    &:hover {
      border-bottom: 1px solid $silver;
    }

    &:active {
      border-bottom: none;
    }
  }
}

.example__button {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0 18px;
  background-color: $white;
  border: 1px solid #CDCDCD;
  border-radius: 6px;
  min-width: 85px;
  height: 14px;

  @media (min-width: 768px) {
    display: none;
  }
}

.example__range {
  display: none;
}

@media (min-width: 768px) {
  .example__range {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 426px;
    border-radius: 6px;
    height: 6px;
    background-color: #dcdcdc;
    cursor: pointer;
    margin: 0 23px;
  }

  .example__range::-webkit-slider-runnable-track {
    border-radius: 6px;
    height: 6px;
    width: 426px;
    background-color: $alto;
  }

  .example__range::-webkit-slider-thumb {
    position: relative;
    top: -14px;
    border: 1px solid $silver;
    background-color: $apple;
    border-radius: 50%;
    cursor: pointer;
    width: 34px;
    height: 34px;
    -webkit-appearance: none;
    box-shadow: inset 0px 0px 0px 11px white,
    0px 2px 5px rgba(0, 0, 0, 0.16);
  }
}

.example__range:hover::-webkit-slider-thumb {
  box-shadow: inset 0px 0px 0px 11px white,
  0px 3px 6px rgba(0, 0, 0, 0.19);
}

.example__range:active::-webkit-slider-thumb {
  border-color: $apple;
}

.example__button::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 6px;
  width: 35.5px;
  height: 6px;
  border-radius: 6px;
  background-color: $apple;
}
