.form__fieldset {
  margin: 0;
  padding: 0 20px;
  border: none;
  border-bottom: 1px solid #e7e7e7;
}

.form__legend {
  font-size: 24px;
  line-height: 26px;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.form__input {
  border: 1px solid $silver;
  padding: 16px 30px 11px 14px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding: 21.4px 40px 12.6px 18.6px;
  }
}

.form__input::placeholder {
  font-size: 16px;
  line-height: 18px;
  color: $tundora;
  text-transform: uppercase;
  font-family: "Oswald" , "Arial", sans-serif;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input-text {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 13px;
  color: $tundora;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__wrapper {
  @media (min-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 110px 17px 110px;
  }
}

.form__fieldset--bio {
  padding-top: 39px;
  padding-bottom: 1px;

  @media (min-width: 768px) {
    padding: 39px 67px 1px 71px;
    border-bottom: none;
  }

  @media (min-width: 1440px) {
    padding: 0;
    width: 46.7%;
    margin-right: 80px;
  }
}

.form__list--bio {
  padding-bottom: 22px;
}

.form__input--name {
  width: calc(226px + 100vw - 320px);
  min-width: 226px;

  @media (min-width: 768px) {
    width: calc(100% - 64px);
  }
}

.form__input--weight {
  min-width: 204px;
  width: calc(204px + 100vw - 320px);

  @media (min-width: 768px) {
    width: calc(100% - 91px);
  }
}

.form__input--age {
  min-width: 171px;
  width: calc(171px + 100vw - 320px);

  @media (min-width: 768px) {
    width: calc(100% - 132px);
  }
}

.form__list--bio .form__item {
  margin-bottom: 14px;

  &:last-child {
    margin: 0;
  }

  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.form__fieldset--type {
  padding-top: 29px;
  padding-bottom: 22px;

  @media (min-width: 768px) {
    padding: 49px 67px 47px 72px;
    border-bottom: none;
  }

  @media (min-width: 1440px) {
    padding: 0;
    width: 46.7%;
  }
}

.form__list--type {
  @media (min-width: 768px) {
    padding: 30px 28px 29px 26px;
    border: 1px solid $silver;
  }
}

.form__list--type .form__item {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    margin-bottom: 22px;
  }
}

.form__label--type {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $mine-shaft;
  padding-left: 45px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;
  }
}

.form__label--type::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid $silver;
  top: -4px;
  left: 0;

  @media (min-width: 768px) {
    width: 38px;
    height: 38px;
  }
}

.form__radio-input:checked + .form__label--type::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $apple;
  top: 4px;
  left: 9px;

  @media (min-width: 768px) {
    width: 19px;
    height: 19px;
    top: 6px;
    left: 11px;
  }
}

.form__inner-wrapper {
  @media (min-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__fieldset--contacts {
  border-bottom: none;

  @media (min-width: 768px) {
    padding: 0 65px 29px 70px;
  }

  @media (min-width: 1440px) {
    padding: 27px 110px 38px 110px;
  }
}

.form__contacts-wrapper {
  padding-top: 28px;
  padding-bottom: 26px;

  @media (min-width: 1440px) {
    padding: 0;
  }
}

.form__legend--contacts {
  position: relative;
  margin-left: -2px;
  margin-bottom: 34px;

  @media (min-width: 768px) {
    margin-bottom: 77px;
  }
}

.form__legend--contacts::before {
  @media (min-width: 768px) {
    content: "";
    position: absolute;
    background-color: $apple;
    width: 30px;
    height: 2px;
    top: 24px;
    left: -68px;
  }

  @media (min-width: 1440px) {
    width: 70px;
    left: -110px;
  }
}

.form__legend--contacts::after {
  content: "";
  position: absolute;
  min-width: 53px;
  max-width: 100vw;
  width: calc(99px + 100vw - 320px);
  height: 2px;
  background-color: $apple;
  top: 14px;
  right: -20px;
  z-index: -1;

  @media (min-width: 768px) {
    top: 24px;
    right: -65px;
    width: calc(145px + 100vw - 768px);
  }

  @media (min-width: 1440px) {
    right: -110px;
    width: calc(778px + 100vw - 1440px);
  }
}

.form__label--contacts {
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: $tundora;
  text-transform: uppercase;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    margin-bottom: 21px;
  }

  @media (min-width: 1440px) {
    width: 46.7%;

    &:first-child {
      margin-right: 78px;
    }
  }
}

.form__icon {
  position: absolute;
  top: 14px;
  right: 13px;

  @media (min-width: 768px) {
    top: 16px;
    right: 19px;
  }
}

.form__input--email {
  min-width: 219px;
  width: calc(219px + 100vw - 320px);

  @media (min-width: 768px) {
    width: calc(100% - 81px);
  }
}

.form__label--contacts .form__input-text {
  margin-right: 7px;

  @media (min-width: 768px) {
    margin-right: 15px;
  }
}

.form__input--tel {
  min-width: 202px;
  width: calc(202px + 100vw - 320px);

  @media (min-width: 768px) {
    width: calc(100% - 102px);
  }
}

.form__fieldset--comment {
  border-bottom: none;

  @media (min-width: 768px) {
    border-bottom: none;
    padding: 9px 65px 29px 70px;
  }

  @media (min-width: 1440px) {
    padding: 9px 110px 32px 110px;
  }
}

.form__legend--comment {
  margin-bottom: 38px;
  position: relative;

  @media (min-width: 768px) {
    margin-bottom: 77px;
  }
}

.form__legend--comment::before {
  @media (min-width: 768px) {
    content: "";
    position: absolute;
    height: 2px;
    background-color: $apple;
    width: 30px;
    top: 22px;
    left: -70px;
  }

  @media (min-width: 1440px) {
    width: 70px;
    left: -110px;
  }
}

.form__legend--comment::after {
  content: "";
  position: absolute;
  min-width: 53px;
  max-width: 100vw;
  width: calc(158px + 100vw - 320px);
  height: 2px;
  background-color: $apple;
  top: 14px;
  right: -20px;
  z-index: -1;

  @media (min-width: 768px) {
    top: 22px;
    right: -65px;
    width: calc(478px + 100vw - 768px);
  }

  @media (min-width: 1440px) {
    right: -110px;
    width: calc(1108px + 100vw - 1440px);
  }
}

.form__comment-field {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: $tundora;
  margin: 0;
  resize: none;
  border: 2px solid #e7e7e7;
  width: 100%;
  height: 149px;
  box-sizing: border-box;
  padding: 6px 12px 0px 14px;

  @media (min-width: 768px) {
    padding: 7px 17px 0px 17px;
    height: 174px;
  }
}

.form__comment-field::placeholder {
  text-transform: uppercase;
  color: $tundora;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__fieldset--extra {
  border-bottom: none;

  @media (min-width: 768px) {
    padding: 10px 30px 10px 67px;
  }

  @media (min-width: 1440px) {
    padding: 31px 110px 34px 110px;
  }
}

.form__extra-wrapper {
  padding-top: 21px;
  padding-bottom: 17px;

  @media (min-width: 1440px) {
    padding: 0;
  }
}

.form__legend--extra {
  position: relative;
  margin-bottom: 38px;

  @media (min-width: 768px) {
    margin-bottom: 63px;
  }
}

.form__legend--extra::before {
  @media (min-width: 768px) {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: $apple;
    left: -67px;
    top: 22px;
  }

  @media (min-width: 1440px) {
    left: -110px;
    width: 70px;
  }
}

.form__legend--extra::after {
  content: "";
  position: absolute;
  min-width: 53px;
  max-width: 100vw;
  width: calc(136px + 100vw - 320px);
  height: 2px;
  background-color: $apple;
  top: 14px;
  right: -20px;
  z-index: -1;

  @media (min-width: 768px) {
    top: 24px;
    right: -30px;
    width: calc(446px + 100vw - 768px);
  }

  @media (min-width: 1440px) {
    right: -110px;
    width: calc(1078px + 100vw - 1440px);
  }
}

.form__list--extra {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 42px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 75px;
  }
}

.form__label--extra {
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 18px;
  padding-left: 45px;
  margin-bottom: 24px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 62px;
    margin-bottom: 0;
  }
}

.form__label--extra::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  border: 1px solid $silver;
  top: -6px;
  left: 0;

  @media (min-width: 768px) {
    width: 38px;
    height: 38px;
    left: 3px;
  }
}

.form__check-input:checked + .form__label--extra::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  left: 6px;
  top: 4px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-size: 18px 14px;
  background-position: center;

  @media (min-width: 768px) {
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
    top: 1px;
    left: 10px;
  }
}

.form__button-wrapper {
  padding: 0 20px 32px 20px;

  @media (min-width: 768px) {
    padding: 33px 30px 73px 71px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: 1440px) {
    padding: 33px 110px 82px 110px;
  }
}

.form__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  margin-bottom: 21px;

  @media (min-width: 768px) {
    width: 42%;
    padding: 15px 0;
    margin-right: 61px;
    margin-bottom: 0;
    font-size: 20px;
  }

  @media (min-width: 1440px) {
    width: 47%;
    margin-right: 75px;
  }
}

.form__note {
  display: block;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}
