.main-nav {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    order: 0;
    padding: 22px 30px;
  }

  @media (min-width: 1440px) {
    padding: 53px 110px 32px 110px;
  }
}

.main-nav__wrapper {
  padding: 0 20px;
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-nav--closed .main-nav__list {
    display: flex;
  }
}

.main-nav--opened .main-nav__list {
  @media (max-width: 768px) {
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
  }
}

.main-nav--opened .main-nav__list {
  @media (min-width: 768px) {
    position: static;
  }
}


.main-nav__list {
  @media (max-width: 768px) {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-direction: column;
    display: flex;
    width: 100%;
    position: relative;
  }

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 62.5%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: auto;
    justify-content: flex-end;
  }

  @media (min-width: 1440px) {
    width: 50%;
  }
}


.main-nav__logo-image {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: 768px) {
    width: 174px;
    height: 51.6px;
  }

  @media (min-width: 1440px) {
    width: 202px;
    height: 59px;
  }
}

.main-nav__link--text-logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  margin-right: 10px;

  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav__toggle {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  width: 24px;
  height: 22px;

  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    right: 0;
    top: 8px;
    position: absolute;
    width: 27px;
    height: 1.5px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__list {
  display: flex;
  position: static;
}

.main-nav--nojs .main-nav__link:first-child {
  @media (max-width: 768px) {
    position: absolute;
  }

  @media (min-width: 768px) {
    position: fixed;
  }
}

.main-nav--nojs .main-nav__link--text-logo {
  @media (max-width: 768px) {
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    margin: 0;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
