body {
  font-family: "Oswald", "Arial", sans-serif;
  min-width: 320px;
  min-height: 100%;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  margin: 0 auto;
}
