.site-list__item {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: 1440px) {
    font-size: 20px;
    line-height: 30px;
    color: $white;
  }
}

.site-list__item:not(:first-child) {
  @media (min-width: 1440px) {
    margin-left: 34px;
  }
}
