.socials {
  background-color: $concrete;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.socials__container {
  padding: 0 20px;

  @media (min-width: 768px) {
    padding: 58px 30px 55px 30px;
  }

  @media (min-width: 1440px) {
    padding: 58px 110px 55px 110px;
  }
}

.socials__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $tundora;

  &:first-child {
    @media (min-width: 768px) {
      margin-right: 22px;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.socials__link:hover svg {
  fill: #5eaa2f;
}

.socials__link:active svg {
  opacity: 0.3;
}

.socials__logo-link {
  margin: 0 auto;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.socials__logo-container {
  display: flex;
  padding-top: 39px;
  padding-bottom: 29px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.socials__bottom-container {
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    padding: 0;
  }
}
